/Documents/NetBeansProjects/StrukturData/nbproject/private/
/Documents/NetBeansProjects/StrukturData/build/
/Documents/NetBeansProjects/ProgramLingkaran/nbproject/private/
/Documents/NetBeansProjects/ArrayObjects/nbproject/private/
/Documents/NetBeansProjects/ArrayObjects/build/
/Documents/NetBeansProjects/ArrayBalok/nbproject/private/
/Documents/NetBeansProjects/ArrayBalok/build/
/Documents/NetBeansProjects/ProgramSegitiga/nbproject/private/
/Documents/NetBeansProjects/ProgramSegitiga/build/
/Documents/NetBeansProjects/TokoSewa/nbproject/private/
/Documents/NetBeansProjects/ProgramSewa/nbproject/private/
/Documents/NetBeansProjects/ProgramSewa/build/
/Documents/NetBeansProjects/AlgroStruk/nbproject/private/
/Documents/NetBeansProjects/AlgroStruk/build/
/Documents/NetBeansProjects/AlgroStruk/dist/
/Documents/NetBeansProjects/jobsheet4/nbproject/private/
/Documents/NetBeansProjects/jobsheet4/build/
/Documents/NetBeansProjects/KuisSatuRisangD/nbproject/private/
/Documents/NetBeansProjects/KuisSatuRisangD/build/
/Documents/NetBeansProjects/mahasisaSorting/nbproject/private/
/Documents/NetBeansProjects/mahasiswaSorting/nbproject/private/
/Documents/NetBeansProjects/TiketPesawat/nbproject/private/
/Documents/NetBeansProjects/mahasiswaSorting/build/
/Documents/NetBeansProjects/mahasiswaSorting/dist/
/Documents/NetBeansProjects/TiketPesawat/build/
/Documents/NetBeansProjects/PoinBola/nbproject/private/
/Documents/NetBeansProjects/LigaBola/nbproject/private/
/Documents/NetBeansProjects/TestSearching/nbproject/private/
/Documents/NetBeansProjects/TestSearching/build/
/Documents/NetBeansProjects/MergeShortTest/nbproject/private/
/Documents/NetBeansProjects/MergeShortTest/build/
/Documents/NetBeansProjects/utsSortingSearching/nbproject/private/
/Documents/NetBeansProjects/utsSortingSearching/build/
/OneDrive/Documents/NetBeansProjects/kuis2/nbproject/private/
/OneDrive/Documents/NetBeansProjects/kuis2/build/
/OneDrive/Documents/NetBeansProjects/Minggu13/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Minggu13/build/
/OneDrive/Documents/NetBeansProjects/minggu15/nbproject/private/
/OneDrive/Documents/NetBeansProjects/minggu15/build/
/OneDrive/Documents/NetBeansProjects/Buku_nickname/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Buku_Risang/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Buku_Risang/build/
/OneDrive/Documents/NetBeansProjects/SepedaDemo/nbproject/private/
/OneDrive/Documents/NetBeansProjects/SepedaDemo/build/
/OneDrive/Documents/NetBeansProjects/MobilDemo/nbproject/private/
/OneDrive/Documents/NetBeansProjects/MobilDemo/build/
/OneDrive/Documents/NetBeansProjects/mahasiswa/nbproject/private/
/OneDrive/Documents/NetBeansProjects/mahasiswaDemo/nbproject/private/
/OneDrive/Documents/NetBeansProjects/mahasiswaDemo/build/
/OneDrive/Documents/NetBeansProjects/TestMahasiswa/nbproject/private/
/OneDrive/Documents/NetBeansProjects/TestMahasiswa/build/
/OneDrive/Documents/NetBeansProjects/TestBarang/nbproject/private/
/OneDrive/Documents/NetBeansProjects/TestBarang/build/
/OneDrive/Documents/NetBeansProjects/TestSewa/nbproject/private/
/OneDrive/Documents/NetBeansProjects/TestSewa/build/
/OneDrive/Documents/NetBeansProjects/TestLingkaran/nbproject/private/
/OneDrive/Documents/NetBeansProjects/TestLingkaran/build/
/OneDrive/Documents/NetBeansProjects/DemoBarang/nbproject/private/
/OneDrive/Documents/NetBeansProjects/DemoBarang/build/
/OneDrive/Documents/NetBeansProjects/DemoKuliah/nbproject/private/
/OneDrive/Documents/NetBeansProjects/DemoPersegi/nbproject/private/
/OneDrive/Documents/NetBeansProjects/DemoPersegi/build/
/OneDrive/Documents/NetBeansProjects/motorencapsulation/nbproject/private/
/OneDrive/Documents/NetBeansProjects/motorencapsulation/build/
/OneDrive/Documents/NetBeansProjects/koperasiGetterSetter/nbproject/private/
/OneDrive/Documents/NetBeansProjects/koperasiGetterSetter/build/
/OneDrive/Documents/NetBeansProjects/EncapTest/nbproject/private/
/OneDrive/Documents/NetBeansProjects/EncapTest/build/
/OneDrive/Documents/NetBeansProjects/TestKoperasi/nbproject/private/
/OneDrive/Documents/NetBeansProjects/TestKoperasi/build/
/OneDrive/Documents/NetBeansProjects/MainPercobaan1/nbproject/private/
/OneDrive/Documents/NetBeansProjects/MainPercobaan1/build/
/OneDrive/Documents/NetBeansProjects/MainPercobaan2/nbproject/private/
/OneDrive/Documents/NetBeansProjects/MainPercobaan2/build/
/OneDrive/Documents/NetBeansProjects/MainPercobaan2/dist/
/OneDrive/Documents/NetBeansProjects/MainPercobaan3/nbproject/private/
/OneDrive/Documents/NetBeansProjects/MainPercobaan3/build/
/OneDrive/Documents/NetBeansProjects/MainPercobaan4/nbproject/private/
/OneDrive/Documents/NetBeansProjects/MainPercobaan4/build/
/OneDrive/Documents/NetBeansProjects/Tugas4/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Tugas4_2/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Tugas4_2/build/
/OneDrive/Documents/NetBeansProjects/Tugas4_3/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Tugas4_3/build/
/OneDrive/Documents/NetBeansProjects/MainBangunDatar/nbproject/private/
/OneDrive/Documents/NetBeansProjects/MainBangunDatar/build/
/OneDrive/Documents/NetBeansProjects/Percobaan1/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Percobaan1/build/
/OneDrive/Documents/NetBeansProjects/Percobaan1/dist/
/OneDrive/Documents/NetBeansProjects/Percobaan2/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Percobaan2/build/
/OneDrive/Documents/NetBeansProjects/Percobaan3/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Percobaan3/build/
/OneDrive/Documents/NetBeansProjects/Percobaan4/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Percobaan4/build/
/OneDrive/Documents/NetBeansProjects/Inheritance1/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Inheritance1/build/
/OneDrive/Documents/NetBeansProjects/TugasInheritance/nbproject/private/
/OneDrive/Documents/NetBeansProjects/TugasInheritance/build/
/OneDrive/Documents/NetBeansProjects/Kuis1/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Kuis1/build/
/OneDrive/Documents/NetBeansProjects/Kuis1/dist/
/OneDrive/Documents/NetBeansProjects/NoKonstruktor/nbproject/private/
/OneDrive/Documents/NetBeansProjects/NoKonstruktor/build/
/OneDrive/Documents/NetBeansProjects/Myclass/nbproject/private/
/OneDrive/Documents/NetBeansProjects/OtherClass/nbproject/private/
/OneDrive/Documents/NetBeansProjects/OtherClass/build/
/OneDrive/Documents/NetBeansProjects/KepegawaianPolinema/nbproject/private/
/OneDrive/Documents/NetBeansProjects/KepegawaianPolinema/build/
/OneDrive/Documents/NetBeansProjects/KepegawaianPolinema/dist/
/OneDrive/Documents/NetBeansProjects/Utama/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Utama/build/
/OneDrive/Documents/NetBeansProjects/MainSegitiga/nbproject/private/
/OneDrive/Documents/NetBeansProjects/MainSegitiga/build/
/OneDrive/Documents/NetBeansProjects/MainUtama/nbproject/private/
/OneDrive/Documents/NetBeansProjects/MainUtama/build/
/OneDrive/Documents/NetBeansProjects/MainUtama/dist/
/OneDrive/Documents/NetBeansProjects/PBOMinggu10/nbproject/private/
/OneDrive/Documents/NetBeansProjects/PBOMinggu10/build/
/OneDrive/Documents/NetBeansProjects/PBOMinggu10/dist/
/OneDrive/Documents/NetBeansProjects/ICumlaude/nbproject/private/
/OneDrive/Documents/NetBeansProjects/ICumlaude/build/
/OneDrive/Documents/NetBeansProjects/IBerprestasi/nbproject/private/
/OneDrive/Documents/NetBeansProjects/InterfaceMain/nbproject/private/
/OneDrive/Documents/NetBeansProjects/InterfaceMain/build/
/OneDrive/Documents/NetBeansProjects/Poliforisme/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Poliforisme/build/
/OneDrive/Documents/NetBeansProjects/TestElektronik/nbproject/private/
/OneDrive/Documents/NetBeansProjects/TestElektronik/build/
/OneDrive/Documents/NetBeansProjects/Test1/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Test1/build/
/OneDrive/Documents/NetBeansProjects/Tester/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Tester/build/
/OneDrive/Documents/NetBeansProjects/Kuis3/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Kuis4/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Kuis4/build/
/OneDrive/Documents/NetBeansProjects/HelloGui/nbproject/private/
/OneDrive/Documents/NetBeansProjects/MyInputForm/nbproject/private/
/OneDrive/Documents/NetBeansProjects/MyInputForm/build/
/OneDrive/Documents/NetBeansProjects/ManajemenLayout/nbproject/private/
/OneDrive/Documents/NetBeansProjects/ManajemenLayout/build/
/OneDrive/Documents/NetBeansProjects/PraktikumGUI/nbproject/private/
/OneDrive/Documents/NetBeansProjects/PraktikumGUI/build/
/OneDrive/Documents/NetBeansProjects/HelloGui/build/
/OneDrive/Documents/NetBeansProjects/HelloGui/dist/
/OneDrive/Documents/NetBeansProjects/SewaFilmTuber/nbproject/private/
/OneDrive/Documents/NetBeansProjects/SewaFilmTuber/build/
/OneDrive/Documents/NetBeansProjects/SewaFilmTuber/dist/
/OneDrive/Documents/NetBeansProjects/projekbaru/nbproject/private/
/OneDrive/Documents/NetBeansProjects/projekbaru2/nbproject/private/
/OneDrive/Documents/NetBeansProjects/projekSewaFilm/nbproject/private/
/OneDrive/Documents/NetBeansProjects/projekSewaFilmRev/nbproject/private/
/OneDrive/Documents/NetBeansProjects/projekSewaFilms/nbproject/private/
/OneDrive/Documents/NetBeansProjects/projekSewa/nbproject/private/
/OneDrive/Documents/NetBeansProjects/JavaLibrary1/nbproject/private/
/OneDrive/Documents/NetBeansProjects/tesprojek1/nbproject/private/
/OneDrive/Documents/NetBeansProjects/projekJasaSewa/nbproject/private/
/OneDrive/Documents/NetBeansProjects/tes0/nbproject/private/
/OneDrive/Documents/NetBeansProjects/tes10/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Perpustakaan/dist/
/OneDrive/Documents/NetBeansProjects/tes111/nbproject/private/