[user]
	name = Zwarzen
	email = akurisang12@gmail.com
[winUpdater]
	recentlySeenVersion = 2.25.1.windows.1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
